<div class="row">
    <div class="col-lg-12" ng-controller="JobsCtrl">
        <div class="table-responsive">
            <rd-loading ng-show="!jobs"></rd-loading>
            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="job in jobs">
                        <td><a href="/viewer/{{ job.name }}" target="_blank">{{job.name}}</a></td>
                        <td>{{job.lastStartTxt}}运行</td>
                        <td>{{job.lastEndTxt}}结束 </td>
                        <td>{{job.badcount}}/{{job.contentcount}}/{{job.totalcount}}</td>
                        <td>{{job.currentpage}}/{{job.maxpage}}</td>
                        <td>
                            <button class="btn btn-xs btn-primary {{job.activeClass}}" ng-click="activejob(job)">{{job.activeText}}</button>
                            <div class="btn-group" uib-dropdown is-open="status.isopen">
                                <button id="single-button" type="button" class="btn btn-xs btn-default" uib-dropdown-toggle ng-disabled="disabled">
                                    操作
                                    <span class="caret"></span>
                                </button>
                                <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                    <li role="menuitem"><a href="javascript:void(0)" ng-click="editjob(job.content)">编辑</a></li>
                                    <li role="menuitem"><a href="javascript:void(0)" ng-click="startjob(job.name)">运行</a></li>
                                    <li role="menuitem"><a href="javascript:void(0)" ng-click="resetjob(job.name)">重置</a></li>
                                    <li role="menuitem"><a href="javascript:void(0)" ng-click="deletejob(job.name)">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
