<div ng-controller="NewMonitorCtrl">
    <form ng-show="visible.step==1" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="listReq" class="col-sm-2 control-label">list chrome</label>

            <div class="col-sm-9">
                <textarea class="form-control" name="listReq" ng-model="chromeInfo" rows="20"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <a class="btn btn-success" href="javascript:void(0)" role="button" ng-click="ProcessStep1()">Next</a>
            </div>
        </div>
    </form>
    <form ng-show="visible.step==2" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="listReq" class="col-sm-2 control-label">name</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="name" ng-model="monitor.name">
            </div>
        </div>
        <div class="form-group">
            <label for="listReq" class="col-sm-2 control-label">run interval (second)</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="interval" ng-model="monitor.interval">
            </div>
        </div>
        <div class="form-group">
            <label for="listReq" class="col-sm-2 control-label">Action</label>

            <div class="col-sm-8">
                <div ng-model="monitor.action" ui-ace="{mode: 'javascript'}"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <a class="btn btn-default btn-lg" ng-click="testMonitor()">test</a>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-lg btn-success" href="javascript:void(0)" ng-click="save()">save monitor</a>
            </div>
        </div>
    </form>
</div>
