<div ng-controller="NewViewerCtrl">
    <form action="/sql" class="form-horizontal" role="form" method="post" target="_blank">
        <div class="form-group">
            <label for="listReq" class="col-sm-2 control-label">name</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="name" ng-model="viewer.name">
            </div>
        </div>
        <div class="form-group">
            <label for="listReq" class="col-sm-2 control-label">sql text</label>

            <div class="col-sm-8">
                <div ng-model="viewer.sql" ui-ace="{mode: 'sql', onChange: aceChanged}"></div>
                <input type="hidden" name="sql" id="sql">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <select class="form-control" type="checkbox" name="type" ng-model="viewer.type">
                  <option value="admin-table">table, can only seen by admin</option>
                  <option value="admin-content">content, can only seen by admin</option>
                  <option value="admin-list">list, can only seen by admin</option>
                  <option value="json">json</option>
                  <option value="content">content</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <a class="btn btn-default btn-primary" role="button" ng-click="saveViewer()">save as viewer</a>
                <button class="btn btn-success" ng-submit="submit()">query</button>
            </div>
        </div>
    </form>
</div>
