<div class="row">
    <div class="col-lg-12" ng-controller="StringsCtrl">
        <div class="table-responsive">
            <rd-loading ng-show="!strings"></rd-loading>
            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="string in strings">
                        <td>{{string.name}}</td>
                        <td><pre>{{string.value|limitTo:400}}<span ng-if="string.value.length > 400"><br>...</span></pre>
                            <a class="btn btn-default btn-sm" ng-click="editString(string)">edit</a>
                            <a class="btn btn-danger btn-sm" ng-click="deleteString(string)">delete</a>
                            <span>version count: <a href="#/string/versions">{{string.versioncount}}</a></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-success" href="#/string/new"><i class="fa fa-plus"></i> Create New String</a>
        </div>
    </div>
</div>
