<div class="row" ng-controller="TextblocksCtrl">
    <div class="col-lg-12">
        <a class="btn btn-default" href="#/textblock/new"><span class="fa fa-plus"></span> New Textblock</a>
    </div>
    <div class="col-lg-12">
        <div class="table-responsive">
            <rd-loading ng-show="!textblocks"></rd-loading>
            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="d in textblocks">
                        <td>{{d.num}}</td>
                        <td>第{{d.group}}章 第{{d.num}}段</td>
                        <td>{{d.createDate | date:'medium'}}</td>
                        <td><button class="btn btn-xs btn-default" ng-click="editItem(d)">edit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
