<div class="row" ng-controller="UsersCtrl">
    <div class="col-lg-12">
        <div class="table-responsive">
            <rd-loading ng-show="!users"></rd-loading>
            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="d in users">
                        <td>{{d.id}}</td>
                        <td>{{d.username}}</td>
                        <td>{{d.email}}</td>
                        <td>{{d.mobile}}</td>

                        <td>{{d.CreateDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
