<div class="row">
    <div class="col-lg-12" ng-controller="ViewersCtrl">
        <div class="table-responsive">
            <rd-loading ng-show="!viewers || viewers.length == 0"></rd-loading>
            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="v in viewers">
                        <td><a href="/sqlviewer/{{v.name}}" target="_blank">{{v.name}}</a></td>
                        <td>{{v.sql}}</td>
                        <td>
                            <a class="btn btn-sm btn-default" ng-click="editViewer(v)">编辑</a>
                            <a class="btn btn-sm btn-danger" ng-click="deleteViewer(v.name)">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
