<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-default" href="#/viewer/new"><span class="fa fa-plus"></span> add new</a>
    </div>
    <div class="col-lg-12" ng-controller="ViewersCtrl">
        <div class="table-responsive">
            <rd-loading ng-show="!viewers"></rd-loading>
            <table class="table table-striped">
                <tbody>
                    <tr class="viewer{{v.active}}" ng-repeat="v in viewers">
                        <td><a href="/d/{{v.name}}" target="_blank">{{v.name}}</a></td>
                        <td class="shortcode">{{v.sql}}</td>
                        <td>
                            <a class="btn btn-xs btn-default" ng-click="editItem(v)">编辑</a>
                            <a class="btn btn-xs btn-danger" ng-click="deleteItem(v)">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
