.table-responsive{
	overflow-x: visible;
}
.ace_editor { height: 500px; }
.smallace .ace_editor { height: 200px; }
.mb10{margin-bottom:10px}
.log4{color:red}.log3{color:#E8750F}.log2{color:green}.log1{color:#66A3C7}.log0{color:#8BA7BB}


.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    text-align: center;
    padding: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}
